#frontpage-signup {
  margin-left: 4px;
}

.landing-jumbotron {
  // background: #fff !important;
  padding: 5rem 10rem !important;
  margin-bottom: 0 !important;
  // background: #fff;
}

@media (max-width: 900px) {
  .landing-jumbotron {
    padding: 1rem !important;
  }
}

@media (max-width: 992px) {
  .features .col-md {
    margin-bottom: 1rem !important;
  }
}

#domain-list::-webkit-scrollbar {
  width: 0px;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.marq div {
  animation: scroll-up infinite 60s;
  animation-timing-function: linear;
  position: absolute;
}

.marq div:hover {
  animation-play-state: paused;
}

.marq {
  position: relative;
  height: 20vh;
  overflow-y: hidden;
}

.marq > div > ul {
  margin-bottom: 0;
}

.fp-action {
  height: 38px;
  display: inline;
}

.official-domain .badge {
  margin-left: 0.5em;
}
