extends template.pug
block content
  h1 Account info
  form(novalidate="true").form-wrap.needs-verification#update-form
    div.data-group
      span.data-before Username: 
      b#profile-username Loading...
      | (
      b#user-id ##################
      | )
    div.data-group
      span.data-before File Quota: 
      b#profile-quota 100.00 MiB
      span.data-after  per week (
        b#profile-used 0.00 MiB
        |  used)
    div.data-group
      span.data-before Shorten Quota: 
      b#s-profile-quota 100
      span.data-after  shortens per week (
        b#s-profile-used 00
        |  shortens used)
    div.total-usage.data-group
      span.data-before Total usage: 
      b#total-usage 0.00 MiB
      span.data-after  across 
      b#total-files 0
      span.data-after  files (
      b#total-deleted 0
      span.data-after  deleted) and 
      b#total-shortens 0
      span.data-after  shortened URLs
    div.form-group
      label(for="new-password2") Email Address
      input(type="text").form-control#email
      div.invalid-feedback Bad email!
    div.form-group
      label(for="password") Current Password
      input(type="password", required="true").form-control#password
      div.invalid-feedback Incorrect password!
    div.form-group
      label(for="new-password1") New Password
      input(type="password").form-control#new-password1
      div.invalid-feedback Unsafe
    div.form-group
      label(for="new-password2") New Password (Repeat)
      input(type="password").form-control#new-password2
      div.invalid-feedback Doesn't match!
      
    div.form-group
      label(for="paranoid") Paranoid
      select(required="true")#paranoid.form-control
        option(value="false") No
        option(value="true") Yes
      span.text-muted If yes, filenames will be a minimum of #{config.PARANOID_MINIMUM_LEN} characters otherwise it will use the normal #{config.NORM_MINIMUM_LEN} character minimum

    hr
    div.form-group.domainsel
      label(for="domain-selector") Upload Domain
      div.input-group
        input(type="text").form-control#wildcard
        div.input-group-append
          span.input-group-text .
        select(required="true").select2.domain-selector.form-control#domain-selector
    div.form-group.domainsel
      label(for="domain-selector") Shorten Domain
      div.input-group
        input(type="text").form-control#s-wildcard
        div.input-group-append
          span.input-group-text .
        select(required="true").select2.domain-selector.form-control#s-domain-selector

      span.text-muted If you'd like to donate a domain, check out our 
        a(href=config.DISCORD_INV) Discord guild
        | !
    button(type="submit").btn.btn-primary#submit-btn Update Account
    hr
    button(type="button", data-toggle="modal", data-target="#password-modal").btn.btn-primary Generate Uploader Token
    hr
    button(type="button", data-toggle="modal", data-target="#revoke-modal").btn.btn-danger Revoke All Tokens
    button(type="button", data-toggle="modal", data-target="#delete-modal").btn.btn-danger.needs-space#delete-modal-btn Delete Account
    hr
    button(type="button", data-toggle="modal", data-target="#gdpr-modal").btn.btn-primary Change Privacy
  div#datadump.state-none
    div.dump-content.none
      h3 Request a Dump of Your Data
      p Use the button below to request a dump of your data, note that once you've requested a data dump it cannot be stopped and that you can only request 3 dumps every 6 hours. When the dump is complete, you'll have a link emailed to you to download it.
      button.btn.btn-primary#request-data Request Data
    div.dump-content.requested
      h3 Data Dump Status
      p
        | You've already requested a data dump, please wait you are currently 
        b#queue-position 1st
        |  in the queue to get processed!
    div.dump-content.processing
      h3 Data Dump Status
      p
        | Your data is being processed right now, currently on file 
        b#file-num 1
        |  of 
        b#file-max 1

  div(tabindex="-1", role="dialog").modal.fade#password-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to create a new uploader token
          form(novalidate=true).needs-validation#password-form
            div.form-group
              label(for="token-password") Password
              input(type="password", required="true", placeholder="Password").form-control#token-password
              div.invalid-feedback Incorrect password
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger Elixire staff will never ask you for your token!

        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-primary#generate-token Generate


  div(tabindex="-1", role="dialog").modal.fade#delete-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to delete your account, you'll recieve an email with a confirmation link to delete your account.
          form(novalidate=true).needs-validation#delete-form
            div.form-group
              label(for="delete-password") Password
              input(type="password", required="true", placeholder="Password").form-control#delete-password
              div.invalid-feedback Incorrect password
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger This will PERMANENTLY delete your account and all its files! Make sure you know what you're doing!
        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-danger#delete-btn I understand


  div(tabindex="-1", role="dialog").modal.fade#revoke-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to deactivate all tokens
          form(novalidate=true).needs-validation#revoke-form
            div.form-group
              label(for="revoke-password") Password
              input(type="password", required="true", placeholder="Password").form-control#revoke-password
              div.invalid-feedback Incorrect password
            div.form-group
              input(type="checkbox", checked="true").form-control#stay-logged-in
              label(for="stay-logged-in") Keep me logged in!
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger This will sign you out of all your web sessions and make your uploaders stop working!

        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-danger#revoke-btn I understand
